<div class="form-group">
    <label for="title">Title</label>
    <input type="text" name="title" id="title" class="form-control mb-4">
</div>

<div class="form-group">
    <label for="descripton">Description</label>
    <textarea name="descrition" id="description" class="form-control mb-4"></textarea>
</div>

<div class="form-group">
    <label for="markdown">Markdown</label>
    <textarea name="markdown" id="markdown" class="form-control"></textarea>
</div><br>

<button type="submit" class="btn btn-primary">Submit</button>
<a href="/" class="btn btn-secondary">Cancel</a>